body {
  margin: 0px 0px;
}

.menu-navbar {
  background-color: #6a584c;
  overflow: hidden;
}

.menu-navbar a {
  float: left;
  display: block;
  color: white !important;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Courier New";
  font-weight: bold;
}

.menu-navbar a:not(#main-brand-logo) {
  float: right;
}

.menu-navbar a:not(#main-brand-logo):hover {
  background-color: #422f22;
  color: #a4ff70 !important;
}

.menu-navbar a.active {
  background-color: #6a584c;
  color: white !important;
}

.main-sidebar {
  background-color: #81a774;
  color: white;
  font-family: "Courier New";
}

.main-sidebar p {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 0px;
}

.main-sidebar a {
  display: block;
  font-size: 16px;
  padding-left: 10px;
}

.main-sidebar a:hover {
  background-color: #422f22;
}

.main-footer {
  position: absolute;
  width: 100%;
  color: #6a584c;
  text-align: center;
  padding: 10px 0px;
  font-family: "Courier New";
  font-size: 12px;
}

div#content {
  padding: 10px 0px;
}
