body {
  margin: 0px 0px;
}

.main-footer {
  background-color: #6a584c;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-family: "Courier New";
}
