<center>
  IMAGE IS NOW UNAVAILABLE
  <br />
  XXX BAHT
  <br />
</center>
<br />
<div class="row">
  <div class="col col-sm-4">
  </div>
  <div class="col col-sm-4">
    <a class="btn btn-primary btn-block" href="{% url 'product' %}">View details</a>
  </div>
  <div class="col col-sm-4">
  </div>
</div>
<div class="row">
  <div class="col col-sm-4">
  </div>
  <div class="col col-sm-4">
    <a class="btn btn-success btn-block" onclick="featureUnavailable()">Add to cart</a>
  </div>
  <div class="col col-sm-4">
  </div>
</div>
<br />
<br />
