{% extends 'base.html' %}

{% block content %}


<p>
  <b><font size="+3">About Us </font></b><br /><br />

  <font size="+2">It happens thousands of times each week – a customer receives a fresh coffee from our farm  – but each interaction is unique. </font><br /><br />

  <img src="/static/img/cm.jpg" height="200" width="150"><br /><br />

  It’s just a moment in time – just one hand reaching over the farm to present a fresh coffee bean to another outstretched hand. <br /><br />

  But it’s a connection. <br /><br />

  We make sure everything we do honors that connection – from our commitment to the highest quality coffee in the world, to the way we engage with our customers and communities to do business responsibly. <br /><br />

  From our beginnings as a little single store over ten years ago, now we are here at estore we ready to send our best coffee around the world ! <br /><br />

</p>




{% endblock %}
