{% extends 'base.html' %}

{% block content %}
  <h1><b>Cart</b></h1>
  <hr />
  <br />
  <div class="panel panel-default form-control">
    <table class="table">
      <tr class="row col-sm-12">
        <th class="col-sm-7">Product</th>
        <th class="col-sm-2">Amount</th>
        <th class="col-sm-2">Price per piece</th>
        <th class="col-sm-1"></th>
      </tr>
      {% for product in incart %}
        <tr class="row col-sm-12">
          <td class="col-sm-7">{{ product.0.name}}</td>
          <td class="col-sm-2">{{ product.1}}</td>
          <td class="col-sm-2">{{ product.2 }}</td>
          <td class="col-sm-1">
          <form method="POST" action="/cart/">
            {% csrf_token %}
            <input type="hidden" name="selected_product" value="{{ product.3 }}">
            <input type="submit" class="btn btn-danger btn-block">
              <b>&times;</b>
            </div>
          </form>
          </td>
        </tr>
      {% endfor %}
      <tr class="row col-sm-12">
        <td class="col-sm-9"><b>Total</b></td>
        <td class="col-sm-2">{{ total_amount }}</td>
        <td class="col-sm-1">
        </td>
      </tr>
    </table>
  </div>
  <br/>
  {% if incart %}
    <a class="btn btn-success btn-block btn-lg" href="{% url 'checkout' %}">Checkout</a>
  {% else %}
    <a class="btn btn-secondary disabled btn-block btn-lg" href="{% url 'checkout' %}">Checkout</a>
  {% endif %}
{% endblock %}
