{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default form-control">
  <div class="panel-heading"><h1>Cart</h1></div>
  <table class="table">
    <tr class="row col-sm-12">
      <th class="col-sm-5">Product</th>
      <th class="col-sm-2">Amount</th>
      <th class="col-sm-3">Price per piece</th>
      <th class="col-sm-2"></th>
    </tr>
    <tr class="row col-sm-12">
      <td class="col-sm-5">CoffeeA</td>
      <td class="col-sm-2">1</td>
      <td class="col-sm-3">500</td>
      <td class="col-sm-2">
        <div class="col col-sm-4 btn btn-danger btn-block" onclick="featureUnavailable()">
          &times;
        </div>
      </td>
    </tr>
    <tr class="row col-sm-12">
      <td class="col-sm-5">CoffeeB</td>
      <td class="col-sm-2">2</td>
      <td class="col-sm-3">400</td>
      <td class="col-sm-2">
        <div class="col col-sm-4 btn btn-danger btn-block" onclick="featureUnavailable()">
          &times;
        </div>
      </td>
    </tr>
    <tr class="row col-sm-12">
      <td class="col-sm-7"><b>Total</b></td>
      <td class="col-sm-3">1300</td>
      <td class="col-sm-2">
      </td>
    </tr>
  </table>
  <a class="btn btn-success btn-block btn-lg" href="{% url 'payment' %}">Checkout</a>
</div>
{% endblock %}
