{% extends 'base.html' %}

{% block content %}
  <h1><b>Cart</b></h1>
  <hr />
  <br />
  <div class="panel panel-default form-control">
    <table class="table">
      <tr class="row col-sm-12">
        <th class="col-sm-7">Product</th>
        <th class="col-sm-2">Amount</th>
        <th class="col-sm-2">Price per piece</th>
        <th class="col-sm-1"></th>
      </tr>
      <tr class="row col-sm-12">
        <td class="col-sm-7">Coffee Robusta 1kg Bag</td>
        <td class="col-sm-2">1</td>
        <td class="col-sm-2">500</td>
        <td class="col-sm-1">
          <div class="btn btn-danger btn-block" onclick="featureUnavailable()">
            <b>&times;</b>
          </div>
        </td>
      </tr>
      <tr class="row col-sm-12">
        <td class="col-sm-7">Balck Tea leaves 200g Bag</td>
        <td class="col-sm-2">2</td>
        <td class="col-sm-2">400</td>
        <td class="col-sm-1">
          <div class="btn btn-danger btn-block" onclick="featureUnavailable()">
            <b>&times;</b>
          </div>
        </td>
      </tr>
      <tr class="row col-sm-12">
        <td class="col-sm-9"><b>Total</b></td>
        <td class="col-sm-2">1300</td>
        <td class="col-sm-1">
        </td>
      </tr>
    </table>
  </div>
  <br/>
  <a class="btn btn-success btn-block btn-lg" href="{% url 'checkout' %}">Checkout</a>
{% endblock %}
