{% extends 'base.html' %}

{% block content %}
  <h1><b>Guide: How to buy our products</b></h1>
  <hr />
  <br />

<p>  To order from Our website :</p>

  <ol>

  <li>  Visit the product page for an item you wish to buy at product button on right side after Home button.</li>
<li>    Tap Buy to add to card or tab details for more information.</li>
  <li>  When you've finished adding items to your cart</li>
      <ul>
        <li> you can remove product here by tab x red button </li>
      </ul>
<li>    Check total money and then tap the checkout bar.</li>
<li>    Tab Confirm order.</li>
<li>    You can choose to pay with credit card or pay later. </li>
  </ol>
{% endblock %}
