{% extends 'base.html' %}

{% block content %}
<div class = "contentStripe__container">
  <div class = "contentStripe__grid">
    <figure class = "contentStripe__media">
      <a href = "">
       <img src="/static/img/coffee_2.png" alt="coffee_2">
      </a>
    </figure>
    <div class="contentStripe__content">
        <h2 class="contentStripe__title">Coffee beans from our farms</h>
      </div>
    </div>
  </div>

<br>
<br>
<a href = "">
<img src ="static/img/coffee_1.png" alt="coffee_1">
</a>
<h> This is picture</h>
<br>
This will be another picture
<img src ="static/img/">

{% endblock %}
