{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order_history.css' %}" />
  <div class="container">
    <p class="title">Order History</p>
    <table class="table">
    <thead>
      <tr>
        <th>Order number</th>
        <th>Total amount</th>
        <th>Issued date</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  </div>
{% endblock %}
