{% extends 'base.html' %}
{% load static %}

{% block content %}
  <hr />
  <br />
  <table class="table">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Total amount</th>
      <th>Issued date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in order_arr %}
      {% if order.0.status != 2 %}
        <tr>
          <td><a href="/order_detail/{{order.orderID}}">{{ order.0.pk }}</a></td>
          <td>{{ order.1 }}</td>
          <td>{{ order.0.date }}</td>
          {% if order.0.status == 0 %}
            <td><h4><span class="badge badge-secondary">UNPAID</span></h4></td>
          {% elif order.0.status == 1 %}
            <td><h4><span class="badge badge-success">PAID</span></h4></td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
