{% extends 'base.html' %}

{% block content %}
  <h1><b>Products</b></h1>
  <hr />
  <br />
  <div class="row col-sm-12">
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
  </div>
  <br />
  <div class="row col-sm-12">
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
  </div>
{% endblock %}
