{% extends 'base.html' %}

{% block content %}
  <h1><b>Products</b></h1>
  <hr />
  <br />
    <div class="row">
      {% for p in products %}
        <div class="col col-sm-3">
          <center>
            <img src="{{ p.img_url }}" width="250px" height="250px">
            <br /><br />
            <b>{{ p.name }}</b>
            <br />
            {{ p.price }} BAHT
            <br />
          </center>
          <br />
          <div class="row">
            <div class="col col-sm-1">
            </div>
            <div class="col col-sm-5">
              <a class="btn btn-info btn-block" href="{% url 'product_detail' p.id %}">Details</a>
            </div>
            <div class="col col-sm-5">
              {% if p.stock != 0 %}
                <a class="btn btn-success btn-block" href="{% url 'cart' %}">Buy</a>
              {% else %}
                <a class="btn btn-secondary btn-block disabled" href="{% url 'cart' %}">Buy</a>
              {% endif %}
            </div>
            <div class="col col-sm-1">
            </div>
          </div>
          <br /><br />
        </div>
      {% endfor %}
    </div>
{% endblock %}
