{% extends 'base.html' %}

{% block content %}
  <h2>Products</h2>

  <div class="row col-sm-12">
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
  </div>
  <div class="row col-sm-12">
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
    <div class="col col-sm-3">
      {% include '_product_listing_grid.html' %}
    </div>
  </div>
{% endblock %}
