{% extends 'base.html' %}

{% block content %}
  <center><b>
    <h1><b>Sign up</b></h1>
    <hr />
    <br/>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <table>
          <tr>
            <td>
              <label>Email</label>
              <input name="username" type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Password</label>
              <input name="password" type="password" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Confirm password</label>
              <input type="password" class="form-control">
              <hr />
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3">
        <table>
          <tr>
            <td>
              <label>Firstname</label>
              <input name="firstname" type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Lastname</label>
              <input name="lastname" type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <label>Address</label>
              <input name="address" type="text" class="form-control">
            </td>
          </tr>
        </table>
    </div>
    <div class="col-sm-2"></div>
    <br/>
    <input type="submit" value="Sign up" class="btn btn-success btn-lg">
  </b></center>
{% endblock %}
