{% extends 'base.html' %}

{% block content %}
<center><b>
  <h1><b>SIGN IN</b></h1>
  <br/>

  <table>
    <tr>
      <td>
        <label>EMAIL</label>
        <input id="sign_in" name="username" type="text" class="form-control">
      </td>
    </tr>
  </table>
  <br />
  <table>
    <tr>
      <td>
        <label>PASSWORD</label>
        <input id="sign_in" name="password" type="password" class="form-control">
      </td>
    </tr>
  </table>

  <br/>

  <input type="submit" value="SIGN IN" class="btn btn-success">
</b></center>
{% endblock %}
