{% extends 'base.html' %}

{% block content %}
  <center><b>
    <h1><b>Sign up</b></h1>
    <hr />
    <br/>
    <table>
      <tr>
        <td>
          <label>Email</label>
          <input name="username" type="text" class="form-control">
        </td>
      </tr>
      <tr>
        <td>
          <label>Password</label>
          <input name="password" type="password" class="form-control">
        </td>
      </tr>
      <tr>
        <td>
          <label>Confirm password</label>
          <input type="password" class="form-control">
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <label>Fullname</label>
          <input name="name" type="text" class="form-control">
        </td>
      </tr>
      <tr>
        <td>
          <label>Address</label>
          <input name="name" type="text" class="form-control">
        </td>
      </tr>
    </table>
    <br/>
    <input type="submit" value="Sign up" class="btn btn-success btn-lg">
  </b></center>
{% endblock %}
