{% extends 'base.html' %}

{% block content %}
<center><b>
  <h1><b>SIGN UP</b></h1>
  <br/>

  <table>
    <tr>
      <td>
        <label>EMAIL</label>
        <input name="username" type="text" class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label>PASSWORD</label>
        <input name="password" type="password" class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label>CONFIRM PASSWORD</label>
        <input type="password" class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label>NAME</label>
        <input name="name" type="text" class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <label>ADDRESS</label>
        <input name="name" type="text" class="form-control">
      </td>
    </tr>
  </table>

  <br/>
  <br/>

  <input type="submit" value="SIGN IN" class="btn btn-success">
</b></center>
{% endblock %}
