body {
  margin: 0px 0px;
}

.menu-navbar {
  background-color: #6a584c;
  overflow: hidden;
}

.menu-navbar a {
  float: left;
  display: block;
  color: white !important;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Courier New";
  font-weight: bold;
}

.menu-navbar a:not(#main-brand-logo) {
  float: right;
}

.menu-navbar a:not(#main-brand-logo):hover {
  background-color: #422f22;
  color: #a4ff70 !important;
}

.menu-navbar a.active {
  background-color: #6a584c;
  color: white !important;
}
